---
import { getCollection, render} from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card } from '@astrojs/starlight/components';
import { formatDate } from '../../components/blog/blogUtils.ts';
import BlogHomeIcon from './assets/_newspaper.svg'
import HomeIcon from './assets/_home.svg'

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { 
			slug: post.id
		},
		props: post,
	}));
}

const post = Astro.props;
const title = post.data.title;
const date = formatDate(post.data.pubDate);
const { Content, headings, remarkPluginFrontmatter } = await render(post);
console.log(post);
---

<StarlightPage frontmatter={{ title: title }} headings={headings} hasSidebar={false}>
	<div class="text-sm not-content block-markdown-content">
	  <a href={import.meta.env.BASE_URL + "/"}>
		<HomeIcon />
		<span>Home</span>
      </a>&nbsp;&gt;
	  <a href={import.meta.env.BASE_URL + "/blog/"}>
		<BlogHomeIcon />
		<span>Blogs</span>
      </a>&nbsp;&gt;
	  <a href={import.meta.env.BASE_URL + "/blog/" + post.id}>
        {post.data.title}
	  </a>
	</div>
	<Card title="Blog Header Image will go here" />
	<Card title="Author Component will go here">
		<div><i>{ date }</i></div>
	</Card>
	<Content />
</StarlightPage>

<style>
	/* This is to align the home and blog home icons alongside the text */
	a {
	  display: inline-block;
	}
	a svg {
	  display: inline-block;
      vertical-align: bottom;
	  width: 1.5em;
}
</style>