@import "tailwindcss";

/* CSS Variables that can be used by both global.css and custom.css */
:root {

  /**
   * Color Palette Configuration
   */
  --color-default: var(--color-gray-600);
  --color-emphasis: var(--color-black);
  --color-emphasis-medium: var(--color-gray-400);
  --color-emphasis-light: var(--color-gray-100);
  --color-background: var(--color-gray-50);
  
  /**
   * Define some fonts, used in Font Configuration below. 
   */
  --font-montserrat: "Montserrat", sans-serif;
  --font-red-hat-mono: "Red Hat Mono", monospace;
  --font-courier-prime: "Courier Prime", monospace;
  --font-outfit: "Outfit", sans-serif;
  --font-libre-franklin: "Libre Franklin", sans-serif;

  /**
   * Font Configuration
   */
  --font-prose: var(--font-libre-franklin);
  --font-header: var(--font-montserrat);
  --font-monospace: var(--font-courier-prime);


  /* Add your custom variables here */
}

@layer base {

  a {
    color: var(--color-emphasis);
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }

  /* 
   * Headers
   */
  h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem; 
    margin-bottom: .5rem;
    color: var(--color-default);
    font-family: var(--font-header);
  }
  h1 {
    font-size: var(--text-4xl);
  }
  h2 {
    font-size: var(--text-3xl);
  }
  h3 {
    font-size: var(--text-2xl);
  }
  h4 {
    font-size: var(--text-xl);
  }
  h5 {
    font-size: var(--text-lg);
  }
  h6 {
    font-size: var(--text-md);
  }

  /*
   * Standard page text 
   */
  p {
    font-size: var(--text-sm);
    font-family: var(--font-prose);
    line-height: 1.5rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    color: var(--color-default)
  }

  /* 
   * Formatting for inline code, but not code blocks. That
   * would mess with the formatters and syntax highlighters 
   */
  code:not(pre code){
    font-size: var(--text-sm);
    font-family: var(--font-monospace);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--color-emphasis);
    background-color: var(--color-emphasis-light);
    border-radius: .25rem;
    padding: .15rem .5rem .15rem .5rem;
    margin-left: .15rem;
    margin-right: .15rem
  }

  /* 
   * Horizontal rules
   */
  hr {
    margin: 1rem;
  }

  /*
   * Lists 
   */
  li {
    font-size: var(--text-sm);
    font-family: var(--font-prose);
    color: var(--color-default)
  }
  ul, ol  {
    padding-left: 1rem;
  }
  ul>li {
    padding-left: 1rem;
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    counter-reset: item;
  }
  ol>li {
    display: block;
    padding-left: 1rem;
  }
  ol>li:before { 
    content: counters(item, ".") ". "; 
    counter-increment: item;
  }

  /*
   * Tables
   */
  table {
    margin-bottom: 1rem;
  }
  th {
    background-color: var(--color-emphasis-light);
  }
  table, th, td {
    border-style: solid;
    border-color: var(--color-emphasis);
    border-width: 1px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  /*
   * Fenced Code blocks
   */
  .astro-code {
    padding: 1rem;
  }
  .astro-code, .astro-code span {
    font-style: var(--font-monospace);
    font-size: var(--text-sm);
  }

  /*
   * Blockquotes
   */
  blockquote {
    background-color: var(--color-emphasis-light);
    border-left-style: solid;
    border-left-width: .5rem;
    border-left-color: var(--color-emphasis-medium);
    padding: 1rem;
  }
}