@import "tailwindcss";

/* CSS Variables that can be used by both global.css and custom.css */
:root {

  /**
   * Color Palette Configuration
   */
  --color-default: var(--color-gray-600);
  --color-emphasis: var(--color-black);
  --color-emphasis-medium: var(--color-gray-400);
  --color-emphasis-light: var(--color-gray-100);
  --color-background: var(--color-gray-50);
  
  /**
   * Define some fonts, used in Font Configuration below. 
   */
  --font-montserrat: "Montserrat", sans-serif;
  --font-red-hat-mono: "Red Hat Mono", monospace;
  --font-courier-prime: "Courier Prime", monospace;
  --font-outfit: "Outfit", sans-serif;
  --font-libre-franklin: "Libre Franklin", sans-serif;

  /**
   * Font Configuration
   */
  --font-prose: var(--font-libre-franklin);
  --font-header: var(--font-montserrat);
  --font-monospace: var(--font-courier-prime);


  /* Add your custom variables here */
}