---
import '../styles/global.css'
import Feature from '../components/Feature.astro';
import DocumentationLayout from '../layouts/DocumentationLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<DocumentationLayout>
  <div class="block-page-content">
    <div class="p-4">
        <div class="text-sm font-mono">Monospace: public static void main(String[] args){}</div>
        <div class="text-sm font-prose">Libre Franklin: Standard legible text parts here</div>
        <div class="text-2xl font-header">Montserrat: Used for headers.</div>
    </div>

    <div class="flex bg-yellow-100 h-8">
      <div class="flex-none size-8 bg-green-200 p-2">a</div>
      <div class="flex-none size-8 bg-yellow-200 p-2">b</div>
      <div class="flex-none size-8 bg-green-800 p-2">c</a></div>
      <div class="flex-1 bg-blue-200 p-2">d</div>
    </div>
  </div>

    <Feature />
</DocumentationLayout>