---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/MarkdownContent.astro';
import '@astrojs/starlight/style/markdown.css';
---

<!-- 

  We override the default component so we can wrap the generated Markdown in a custom class.
  This helps us align CSS with Markdown providers outside Starlight for consistent styling.
  
-->


<div class="block-page-content sl-markdown-content"><slot /></div>