---
import { Image } from 'astro:assets';
import signature from '@/assets/signature300.png';
---

<div class="mt-10">
  <p class="m-0">S,</p>
  <Image
    src={signature}
    alt="Andrew Lee Rubinger"
    width={300}
    class="block w-full max-w-[300px] h-auto my-1"
  />
  <p class="pt-5 m-0">ALR</p>
</div>
