---
import { Steps } from '@astrojs/starlight/components';
import  { formatDate } from './blogUtils.ts';

const { posts } = Astro.props;
---

<section>
    <section>
        <Steps>
            <ol>
                {posts.map((post) => (
                    <li key={post.id}>
                        <a href={import.meta.env.BASE_URL + "/blog/" + post.id}>
                        {post.data.title}
                        </a> - <i>{formatDate(post.data.pubDate)}</i>
                    </li>
                ))}
            </ol>
        </Steps>
    </section>
</section>